<div class="IntroductionWrapper">
	<h1 class="IntroductionTitle">NEO Endurance Series competitor area</h1>
	<h2 class="IntroductionTagline">Welcome to the NES competitor area.</h2>
</div> 
<div class="IntroductionTextWrapper">
	<p>Team managers can manager their teams on this platform. The team manager has to create an account or login in order to manage team and entry.</p>
	<p class="TextDevelopment"><em>This platform is currently in developement. If you have any questions or feedback, don't hesitate to contact us.</em></p>
</div>
<div class="DiscordLoginWrapper">
	<a class="DiscordLogin" href="/api/auth/login">
		<i class="fab fa-discord DiscordIcon"></i>
		Continue with Discord
	</a>	
</div>
