@import "~bootstrap/dist/css/bootstrap.css";

@import 'general-styles';

/* Import the general button */
@import "patterns/buttons";

/* Import the styling for forms */
@import "patterns/forms";

*{
	margin: 0;
	padding: 0;
}

html{
	font-size: 16px;
}

body{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: $Text;
	background-color: $White;

	p{
		margin: 0 0 0.75rem 0;
		line-height: 1.5rem;
	}
}

h1{
	font-weight: $Bold;
	margin-bottom: 1.5rem;
}

h3{
	font-weight: $Regular;
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 1rem;
}
